.projects-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #140020c1, #000000);
  color: white;
  overflow: visible;
  min-height: 100vh;
  display: flex;
  align-items: center;
}


.project-card {
  height: 20rem;
  padding: 3rem;
  border-radius: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.project-card:hover .project-media img {
  transform: rotate(0deg) translateY(-5px);
}

.project-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 2;
}


.project-desc {
  opacity: 0.85;
  max-width: 500px;
}

.tech-stack {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tech-stack span {
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.15);
}

.project-links {
  display: flex;
  gap: 20px;
  padding-bottom: 1.2rem;
}

.project-links a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
}

/* COLORS */
.purple {
  background: linear-gradient(135deg, #6c3bff, #2b124f);
}
.blue {
  background: linear-gradient(135deg, #3fa9ff, #1b2a6f);
}
.green {
  background: linear-gradient(135deg, #39d98a, #0f3d2e);
}
.orange {
  background: linear-gradient(135deg, #ff9f43, #7a2e13);
}
.final {
  background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
}

.project-card h2 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.project-desc {
  font-size: 0.95rem;
  line-height: 1.6;
  opacity: 0.8;
}

.project-points li {
  font-size: 0.85rem;
  opacity: 0.75;
}


.tech-stack span {
  transition: 
    transform 0.25s ease,
    background 0.25s ease,
    box-shadow 0.25s ease;
}

.tech-stack span:hover {
  transform: translateY(-2px) scale(1.05);
  background: rgba(255,255,255,0.25);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}



.all-projects-btn {
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 999px;
  background: white;
  color: black;
  font-weight: 600;
}

@media (max-width: 900px) {
  .project-card {
    flex-direction: column;
  }

  .project-media {
    width: 100%;
    margin-right: 0;
    margin-top: 1.5rem;
  }

  .project-media img {
    transform: none;
  }
}

.project-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.project-media {
  position: relative;
  width: 45%;
  margin-right: -110px; 
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.project-media img {
    height: 280px;
  width: 450px;
  border-radius: 20px;
  box-shadow:
    0 30px 80px rgba(0, 0, 0, 0.619);
  transform: rotate(-5deg);
  transition: transform 0.6s ease;
}

.tech{
    position: relative;
    top: -29px;
}